# Entorno local
.env

# Carpeta de uploads (opcional, si no quieres subir imágenes de prueba)
# img/avatares/
img/noticias/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
