<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recomendaciones diarias</title>
    <style>
      .card-padding{
        padding:14px;
      }

      @media only screen and (max-width:600px){
        .stack-column,
        .stack-column td{
          display:block !important;
          width:100% !important;
          max-width:100% !important;
        }

        .stack-img{
          width:100% !important;
          max-width: 90% !important;
          height:auto !important;
        }

        .card-padding{
          padding:12px !important;
        }

      }
    </style>  
  </head>
  <body style="background-color:#EF3363; margin:0; padding:0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:20px;">
      <tr>
        <td align="center">
          <!-- CONTENEDOR -->
          <table width="600" cellpadding="0" cellspacing="0" border="0" style="background:#EF3363; border-radius:15px; overflow:hidden;">
            <!-- BANNER (YA NO SE CORTA) -->
            <tr>
              <td style="line-height:0; font-size:0;">
                <img 
                  src="cid:banner"
                  width="600"
                  style="width:100%; max-width:600px; height:auto; display:block; border:0;"
                >
              </td>
            </tr>
            <!-- TEXTO -->
            <tr>
              <td>
                <h1 align="center" style="font-family:Arial; color:#ffffff; margin:0;">
                  Recomendaciones diarias
                </h1>
                <hr style="border:1px solid #ffffff; width:80%;">
                <h2 style="font-family:Arial; color:#ffffff;">
                  Ultimas noticias
                </h2>
                {{noticias}}
              </td>
            </tr>
            <!-- FOOTER -->
            <tr>
              <td align="center" style="padding:20px; background:#333333; color:#ffffff;">
                <h3 style="font-family:Arial,sans-serif; margin:0 0 12px;">Síguenos</h3>
                <p style="margin:0 0 16px;">
                  <a href="https://www.facebook.com/TheCatink?locale=es_LA" style="color:#ffffff; text-decoration:none; margin:0 8px;">Facebook</a> |
                  <a href="https://x.com/The_Catink/" style="color:#ffffff; text-decoration:none; margin:0 8px;">Twitter / X</a> |
                  <a href="https://www.instagram.com/the.catink/" style="color:#ffffff; text-decoration:none; margin:0 8px;">Instagram</a> |
                  <a href="https://www.youtube.com/@thecatink" style="color:#ffffff; text-decoration:none; margin:0 8px;">YouTube</a> |
                  <a href="https://www.tiktok.com/@thecatink" style="color:#ffffff; text-decoration:none; margin:0 8px;">TikTok</a>
                </p>
                <p style="margin:0 0 16px; font-size:14px;">Enlaces útiles</p>
                <div style="display:inline-block; text-align:center;">
                  <a href="https://www.catink.com.mx/terminos-condiciones" style="display:inline-block; margin:0 6px 6px; padding:10px 14px; background:#EF3363; color:#ffffff; border-radius:6px; text-decoration:none; font-family:Arial,sans-serif;">Términos y condiciones</a>
                  <a href="https://www.catink.com.mx/privacidad" style="display:inline-block; margin:0 6px 6px; padding:10px 14px; background:#EF3363; color:#ffffff; border-radius:6px; text-decoration:none; font-family:Arial,sans-serif;">Política de privacidad</a>
                  <a href="{{unsubscribe_url}}" style="display:inline-block; margin:0 6px 6px; padding:10px 14px; background:#EF3363; color:#ffffff; border-radius:6px; text-decoration:none; font-family:Arial,sans-serif;">Cancelar suscripción</a>
                </div>
                <p style="margin:16px 0 0; font-size:12px; color:#dddddd;">Si no quieres recibir más correos, haz clic en "Cancelar suscripción".</p>
                <p style="margin:8px 0 0; font-size:12px; color:#dddddd;">En caso de requerir acalaraciones, dudas o reclamaciones, favor de contactarte al siguiente correo: help@catink.com.mx</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>